<div class="container w-100">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nam aut! Veritatis quaerat qui, quae facilis magni impedit, distinctio labore quia cumque suscipit totam harum vel, quos quibusdam vero temporibus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veniam obcaecati qui ea itaque reprehenderit nihil facere dolore! Error, assumenda. Animi, distinctio asperiores. Rerum, saepe cumque nobis beatae deleniti dignissimos?
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum ullam corporis minima quam odit, neque numquam suscipit at dolorum esse architecto necessitatibus enim incidunt labore quo ab accusamus amet officia.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, ad maxime porro voluptatem deleniti repellendus quam quis dolor dicta sunt doloremque beatae nam odit commodi doloribus eius soluta, officiis reprehenderit.

<button type="button" class="btn btn-outline-secondary mr-2" placement="top"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
    Popover on top
</button>


</div>